extends layout

block content
  h1= title
  if message.length > 0
    div
      p= message
  form(action='/connect/local', method='post')
    div
      label email
      input(type='email', name='email')
    div
      label Password
      input(type='password', name='password')
    button(type='submit') Add Local
  div
    p
      | Go back to
      a(herf='/profile') Profile
