extends layout

block content
  h1= title
  p Login or Register with:
  div
    a(href='/login') Local Login
    br
    a(href='/signup') Local Signup
    br
    a(href='/auth/facebook') Facebook
    br
    a(href='/auth/google') Google
