extends layout

block content
  h1= title
  if message.length > 0
    div
      p= message
  form(action='/login', method='post')
    div
      label email
      input(type='email', name='email')
    div
      label Password
      input(type='password', name='password')
    button(type='submit') Login
  div
    p
      | Need an account?
      a(herf='/signup') Signup
    p
      | Or go
      a(herf='/') Home
