extends layout

block content
  h1= title
  a(href='/logout') Logout
  div
    h3 Local
    if user.local.email
      p
        strong ID: #{user._id}
        br
        strong Email: #{user.local.email}
        br
        strong Name: #{user.name}
        br
        strong Roles: #{user.roles}
        br
        strong Coins: #{user.c2wCoin}
      a(herf='/unlink/local') Unlink
    else
      a(herf='/connect/local') Connect Local
  div
    h3 Facebook
    if user.facebook.token
      p
        strong ID: #{user.facebook.id}
        br
        strong Token: #{user.facebook.token}
        br
        strong Email: #{user.facebook.email}
        br
        strong Name: #{user.name}
        br
        strong Roles: #{user.roles}
        br
        strong Coins: #{user.c2wCoin}
      a(herf='/unlink/facebook') Unlink
    else
      a(herf='/connect/facebook') Connect Facebook
  div
    h3 Google+
    if user.google.token
      p
        strong ID: #{user.google.id}
        br
        strong Token: #{user.google.token}
        br
        strong Email: #{user.google.email}
        br
        strong Name: #{user.name}
        br
        strong Roles: #{user.roles}
        br
        strong Coins: #{user.c2wCoin}
      a(herf='/unlink/google') Unlink
    else
      a(herf='/connect/google') Connect Google+
