extends layout

block content
  h1= title
  if message.length > 0
    div
      p= message
  form(action='/signup', method='post')
    div
      label Name
      input(type='text', name='name')
    div
      label email
      input(type='email', name='email')
    div
      label Password
      input(type='password', name='password')
    button(type='submit') Signup
  div
    p
      | Already have an account?
      a(herf='/login') Login
    p
      | Or go
      a(herf='/') Home
